.pageblock {
    box-shadow: none !important;
    height: auto;
    padding: 20px 25px;
    width: 100%;

    p, ul {
        font-size: 0.85rem;
        line-height: 1.7;
    }

    .infoblock {
        border-left: 10px solid #789a6e;
        margin-top: 30px;
        overflow: hidden;
        padding: 0 0 5px 20px;
        position: relative;
        ul {
            margin: 10px 0 0;
            li {
                list-style-type: none;
                margin: 15px 0 0;
            }
        }
        /* .infoblock_loader1, .infoblock_loader2 {
            background-color: #fcfcfc;
            content: '';
            display: block;
            height: 100%;
            left: 0;
            opacity: 1;
            position: absolute;
            top: 0;
            width: 100%;
            z-index: 600;
        }
        .infoblock_loader2 {
            background-color: #789a6e;
            width: 0;
        } */
    }

    .checklist {
        margin-top: 20px;
        li {
            background: transparent url(../../images/icon-check.png) no-repeat left center;
            color: #273324;
            font-weight: 600;
            list-style-type: none;
            padding: 5px 0 5px 30px;
        }
    }

    .continuation {
        /* text-align: right; */
        margin-top: 30px;
    }
}
