.highlightblock:nth-child(5n+5) {
    margin-right: 0;
}

.highlightblock {
    box-shadow: none !important;
    min-height: 440px;
    vertical-align: top;
    width: 18.4%;

    figure {
        height: 160px;
        overflow: hidden;
        position: relative;
        img {
            backface-visibility: hidden;
            bottom: 0;
            left: 0;
            margin: auto;
            max-width: 100%;
            position: absolute;
            right: 0;
            top: 0;
            transition: all 0.3s;
            will-change: transform, filter;
        }
    }

    .info {
        box-sizing: border-box;
        display: inline-block;
        font-size: 0.85rem;
        line-height: 1.5;
        padding: 20px 25px;
        strong {
            text-transform: uppercase;
        }
    }
}
