.newsblock:nth-child(5n+5) {
    margin-right: 0;
}

.newsblock {
    min-height: 440px;
    vertical-align: top;
    width: 18.4%;

    figure {
        cursor: pointer;
        height: 160px;
        overflow: hidden;
        position: relative;
        img {
            backface-visibility: hidden;
            bottom: 0;
            filter: grayscale(60%);
            left: -50%;
            margin: auto;
            position: absolute;
            right: 0;
            top: -20%;
            transition: all 0.2s;
            width: 200%;
            will-change: transform, filter;
            &:hover {
                transform: scale(0.9);
                filter: grayscale(0%);
            }
        }
    }

    .newsitem {
        box-sizing: border-box;
        display: inline-block;
        font-size: 0.85rem;
        line-height: 1.5;
        padding: 20px 25px;
        strong {
            text-transform: uppercase;
        }
    }
}
