.navlist {
    margin-bottom: 30px;

    .title {
        font-size: 0.8rem;
        font-weight: 600;
        padding: 5px 3px;
        text-transform: uppercase;
    }

    ul {
        li {
            list-style-type: none;
            a {
                backface-visibility: hidden;
                border-bottom: 1px solid #c4c5c4;
                display: inline-block;
                color: #5b5c5e;
                font-size: 0.8rem;
                font-weight: 500;
                padding: 5px 3px 4px;
                text-decoration: none;
                transition: all .15s;
                width: 100%;
                will-change: background-color, color;
                &:hover, &.active {
                    background-color: #f3f3f3;
                }
                &.active {
                    color: #273324;
                    font-weight: 600;
                }
                &:before {
                    content: none;
                }
            }
            &:first-child a {
                border-top: 1px solid #707272;
            }
        }
    }
}
