.lineButton {
    backface-visibility: hidden;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 5px rgba(0,0,0,0.1), 0 1px 2px rgba(0,0,0,0.15);
    color: #fff;
    display: inline-block;
    font-family: 'Ubuntu';
    font-size: 0.85rem;
    font-weight: 300;
    opacity: 0.95;
    outline: none;
    padding: 11px 20px;
    position: relative;
    transition: all .2s;
    width: auto;
    will-change: opacity;
    z-index: 100;

    &:hover {
        transform: translateY(-1px);
        box-shadow: 0 1px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
    }

    &:active {
        box-shadow: none;
        opacity: 0.8;
        transform: translateY(1px);
        transition: all .1s;
    }

    &.green {
        border: 1px solid #58824b;
        color: #58824b;
        font-weight: 500;
    }

    &.grey {
        border: 1px solid #707273;
        color: #707273;
        font-weight: 500;
    }
}
