@import './fonts.css';
@import './typography.css';
@import './forms.css';
@import './transitions.css';

* {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    text-rendering: geometricPrecision;
}

html {
    font-size: 15px;
    min-height: 100%;
    position: relative;
}

body {
    background: url(../images/pattern-paper.png) repeat;
    color: #5b5c5e;
    cursor: default;
    font-family: 'Open Sans';
    height: 100%;
}

::selection {
    color: #58824b;
    background: #f3f3f3;
}

#app {
    backface-visibility: hidden;
    font-size: 0;
    min-height: 100vh;
}

.wrapper {
    will-change: filter;
    backface-visibility: hidden;
    perspective: 1000;
    transform: translate3d(0,0,0);
    transform: translateZ(0);
}

.blurred-overlay {
    filter: blur(2px) grayscale(40%);
}
.grayscale-overlay {
    filter: grayscale(60%);
}

.floatingButton.closeBtn {
    height: 30px;
    line-height: 0;
    position: absolute;
    right: -15px;
    top: -15px;
    width: 30px;
    margin: 0;
    left: initial;
}

/*
 * Page
 */
.page {
    display: inline-block;
    font-size: 0.9rem;
    margin: 30px;
    margin-bottom: 0;
    max-width: 1230px;
    position: relative;
    vertical-align: top;
    width: calc(100% - 360px);
    .content {
        font-size: 0;
        width: 100%;
        .row {
            section:last-child {
                margin-right: 0;
            }
        }
    }
}

/*
 * CMS Blocks
 */
.block {
    backface-visibility: hidden;
    background-color: #fcfcfc;
    border: 1px solid #fff;
    display: inline-block;
    font-size: 0.9rem;
    height: 315px;
    margin: 2% 2% 0 0;
    opacity: 0;
    overflow: hidden;
    position: relative;
    transition: box-shadow .2s;
    vertical-align: top;
    will-change: box-shadow;
    &:hover {
        box-shadow: 0 3px 15px rgba(0,0,0,0.1), 0 3px 15px rgba(0,0,0,0.15);
    }
}

@import './responsive.css';
