.modal-transition-main-enter-active, .modal-transition-main-leave-active {
    transition: all 0.3s;
}
.modal-transition-main-enter {
    opacity: 0;
}
.modal-transition-main-leave {
    opacity: 0;
    transition-delay: 0.5s;
}