.textblock {
    width: 59.2%;

    figure, img {
        display: inline-block;
        font-size: 0;
        width: 31%;
        height: 100%;
    }
    figure {
        vertical-align: top;
        width: 100%;
    }
    figcaption {
        box-sizing: border-box;
        display: inline-block;
        font-size: 0.85rem;
        line-height: 1.5;
        padding: 20px 25px;
        vertical-align: top;
        width: 69%;
    }
}
